In [1]:
import pandas  as pd
import numpy as np
import os

In [2]:
ls

Analyse corrélation et decision tree sur La Base.ipynb
Analyse participation.ipynb
base_test_xdroite.csv
base_train_xdroite.csv
carte_export/
carte_file/
Chomage/
corr_sperman.csv
decision_tree_print_2.pdf
decision_tree_print.pdf
decision_tree_split5.pdf
ETL.ipynb
features_corr_features.csv
file_corr/
forward_selection.py
google_trends_10_au_15_avril.xlsx
google_trends_15_au_20.xlsx
google_trends_16_au_21.xlsx
Jointure des tables/
la_base_2017.csv
la_base.csv
la_base_notebook.ipynb
pie.png
ponderation_google_twitter.ipynb
~$ponderation_sondage.xlsx
ponderation_sondage.xlsx
prediction_2017.csv
prediction_2017_v2.csv
prediction_2017_xdroite.csv
prediction bloc.ipynb
prediction.ipynb
prediction xdroite.ipynb
prune_tree.R
__pycache__/
r_tee_prune.jpeg
test_classif.ipynb
test_donnee_panel.R
test_panel_train_test.R
Untitled.ipynb

## table par année & mois

In [7]:
menage_0 = pd.read_csv("menage_0.csv",sep=";")
menage_1 = pd.read_csv("menage_1.csv",sep=";")

In [8]:
menage_0.head()

,Ann?e,Mois,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Opinion sur le niveau de vie pass? en France : Solde des r?ponses (am?lioration moins d?t?rioration) - Donn?es CVS,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Opinion sur le niveau de vie futur en France : Solde des r?ponses (am?lioration moins d?t?rioration) - Donn?es CVS,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Opinion sur l'?volution future du ch?mage : Solde des r?ponses (augmentation moins diminution) - Donn?es CVS,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Opinion sur l'?volution pass?e des prix : Solde des r?ponses (augmentation moins diminution) - Donn?es CVS,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Opinion sur leur capacit? d'?pargne actuelle : Solde des r?ponses (favorable moins d?favorable) - Donn?es CVS,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Opinion sur leur situation financi?re pass?e : Solde des r?ponses (am?lioration moins d?t?rioration) - Donn?es CVS,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Opinion sur leur situation financi?re future : Solde des r?ponses (am?lioration moins d?t?rioration) - Donn?es CVS
0,2017,2,-49,-24,20,-46,11,-22,-6
1,2017,1,-48,-25,19,-44,8,-22,-5
2,2016,12,-52,-24,21,-49,8,-22,-8
3,2016,11,-49,-25,26,-51,7,-24,-8
4,2016,10,-53,-28,38,-52,6,-23,-7

In [10]:
menage_0.columns=["année","mois",
                  "niveau de vie passe(amelioration moins deterioration)",
                 "niveau de vie futur(amélioration moins deterioration)",
                 "evolution future du chomage (augmentation moins diminution)",
                 "evolution des prix (augmentation moins diminution)",
                 "capacité epargne actuelle (augmentation moins diminution)",
                 "situation financiere passe (augmentation moins diminution)",
                 "situation financiere future (augmentation moins diminution)"]

In [14]:
print(menage_0.shape)

(566, 9)

In [15]:
menage_1.head()

,Ann?e,Mois,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Opinion sur l'opportunit? de faire des achats importants : Solde des r?ponses (favorable moins d?favorable) - Donn?es CVS,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Opinion sur l'opportunit? d'?pargner : Solde des r?ponses (favorable moins d?favorable) - Donn?es CVS,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Opinion sur leur capacit? d'?pargne future : Solde des r?ponses (am?lioration moins d?t?rioration) - Donn?es CVS,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Indicateur r?sum? de confiance des m?nages (moyenne arithm?tique d'indicateurs) - Donn?es CVS - S?rie arr?t?e,Enqu?te mensuelle de conjoncture aupr?s des m?nages - Indicateur synth?tique de confiance des m?nages (premier facteur des soldes d'opinion de l'enqu?te) - Donn?es CVS
0,2017,2,-1,2,-2,NaN,100
1,2017,1,-4,-1,-6,NaN,100
2,2016,12,-3,-7,-6,NaN,99
3,2016,11,-5,-2,-5,NaN,99
4,2016,10,-5,-2,-7,NaN,98

In [20]:
menage_1.columns=["année","mois",
                  "opportunite de faire des achats importants(favorable moins favorable)",
                  "opportunite epargner(favorable moins favorable)",
                  "capacite epargne future(amélioration moins deterioration)",
                  "indicateur de confiance des menages 1",
                  "indicateur de confiance des menages"
                 ]

In [21]:
del menage_1["indicateur de confiance des menages 1"]

In [22]:
menage_1.shape

(533, 6)

In [24]:
print(min(menage_1["année"]))
print(min(menage_0["année"]))

1972
1970

In [28]:
menage_1.dtypes

année                                                                    int64
mois                                                                     int64
opportunite de faire des achats importants(favorable moins favorable)    int64
opportunite epargner(favorable moins favorable)                          int64
capacite epargne future(amélioration moins deterioration)                int64
indicateur de confiance des menages                                      int64
dtype: object

In [29]:
# On garde que à partir 1974 précèdente elections si on souhaite faire des variations
menage_1 = menage_1[menage_1["année"]>1973]
menage_0 = menage_0[menage_0["année"]>1973]

In [30]:
print(menage_1.shape)
print(menage_0.shape)

(518, 6)
(518, 9)

In [31]:
opinion_menage = pd.merge(menage_0, menage_1, on = ["année","mois"])

In [32]:
opinion_menage.shape

(518, 13)

In [33]:
opinion_menage.head()

,année,mois,niveau de vie passe(amelioration moins deterioration),niveau de vie futur(amélioration moins deterioration),evolution future du chomage (augmentation moins diminution),evolution des prix (augmentation moins diminution),capacité epargne actuelle (augmentation moins diminution),situation financiere passe (augmentation moins diminution),situation financiere future (augmentation moins diminution),opportunite de faire des achats importants(favorable moins favorable),opportunite epargner(favorable moins favorable),capacite epargne future(amélioration moins deterioration),indicateur de confiance des menages
0,2017,2,-49,-24,20,-46,11,-22,-6,-1,2,-2,100
1,2017,1,-48,-25,19,-44,8,-22,-5,-4,-1,-6,100
2,2016,12,-52,-24,21,-49,8,-22,-8,-3,-7,-6,99
3,2016,11,-49,-25,26,-51,7,-24,-8,-5,-2,-5,99
4,2016,10,-53,-28,38,-52,6,-23,-7,-5,-2,-7,98

In [59]:
opinion_menage.columns

Index(['année', 'mois',
       'niveau de vie passe(amelioration moins deterioration)',
       'niveau de vie futur(amélioration moins deterioration)',
       'evolution future du chomage (augmentation moins diminution)',
       'evolution des prix (augmentation moins diminution)',
       'capacité epargne actuelle (augmentation moins diminution)',
       'situation financiere passe (augmentation moins diminution)',
       'situation financiere future (augmentation moins diminution)',
       'opportunite de faire des achats importants(favorable moins favorable)',
       'opportunite epargner(favorable moins favorable)',
       'capacite epargne future(amélioration moins deterioration)',
       'indicateur de confiance des menages'],
      dtype='object')

## Table par trimestre

In [40]:
pib = pd.read_csv("pib.csv",sep=";")
import_pib = pd.read_csv("import_pib.csv",sep=",")
emploi = pd.read_csv("emploi_par_secteur.csv",sep=";")

In [41]:
pib.head()

,Ann?e,Trimestre,D?penses de consommation Total - Contribution ? l'?volution du PIB - Volume aux prix de l'ann?e pr?c?dente cha?n?s - S?rie CVS-CJO,Exportations - Contribution ? l'?volution du PIB - Volume aux prix de l'ann?e pr?c?dente cha?n?s - S?rie CVS-CJO,Importations - Contribution ? l'?volution du PIB - Volume aux prix de l'ann?e pr?c?dente cha?n?s - S?rie CVS-CJO,Solde ext?rieur - Contribution ? l'?volution du PIB - Volume aux prix de l'ann?e pr?c?dente cha?n?s - S?rie CVS-CJO,Comptes trimestriels (base 2010) - ?volution du Produit int?rieur brut total - Volume aux prix de l'ann?e pr?c?dente cha?n?s - S?rie CVS-CJO,Demande int?rieure totale finale - Volume aux prix de l'ann?e pr?c?dente cha?n?s - S?rie CVS-CJO,Exportations - Total - Volume aux prix de l'ann?e pr?c?dente cha?n?s - S?rie CVS-CJO,Importations - Total - Volume aux prix de l'ann?e pr?c?dente cha?n?s - S?rie CVS-CJO,Produit int?rieur brut total - Volume aux prix de l'ann?e pr?c?dente cha?n?s - S?rie CVS-CJO,D?penses de consommation des APU - Total - Volume aux prix de l'ann?e pr?c?dente cha?n?s - S?rie CVS-CJO
0,2016,4,"0,41","0,4","0,34","0,06","0,4",548041,163435,179778,531659,129824.0
1,2016,3,"0,13","0,23","0,86","-0,63","0,2",546078,161306,177911,529412,129349.0
2,2016,2,"0,14","0,01","-0,47","0,47","-0,1",541596,160059,173183,528300,128926.0
3,2016,1,"0,8","-0,06","0,16","-0,22","0,7",544828,160027,175740,529006,128414.0
4,2015,4,"0,06","0,15","0,76","-0,61","0,2",540196,160338,174731,525584,127913.0

In [42]:
pib.columns=["année","trimestre",
                  "contribution pib-depense consommation",
                 "contribution pib-exportation",
                  "contribution pib-importation",
                 "contribution pib-solde exterieur",
                 "evolution PIB",
                 "demande interieur",
                 "exportations",
                 "importations",
                  "PIB",
                 "depense consommation administration public"
                 ]

In [43]:
print(min(pib["année"]))

1949

In [44]:
import_pib.head()

,Année,Trimestre,Impôts sur importations - Total - Valeur aux prix courants - Série CVS-CJO,Autres impôts sur les produits - Total - Valeur aux prix courants - Série CVS-CJO,Subventions - Total - Valeur aux prix courants - Série CVS-CJO,Masse salariale versée - Total branches - Valeur aux prix courants - Série CVS,Cotisations sociales employeurs versées - Total branches - Valeur aux prix courants - Série CVS,Cotisations sociales imputées - Total branches - Valeur aux prix courants - Série CVS,Impôts sur la main d'oeuvre versés - Total branches - Valeur aux prix courants - Série CVS,Autres impôts divers sur la production versés - Total branches - Valeur aux prix courants - Série CVS,Subventions d'exploitation - Total branches - Valeur aux prix courants - Série CVS,Produit intérieur brut total - Valeur aux prix courants - Série CVS-CJO,TVA - Total - Valeur aux prix courants - Série CVS-CJO
0,2016,4,655,25329,-4903,213246,64916,14279,NaN,NaN,-11878,559532,38737
1,2016,3,650,25275,-4900,211979,64492,14199,8768.0,16446.0,-11776,555782,38281
2,2016,2,650,25108,-4880,210838,64159,14126,8758.0,16367.0,-11628,553573,38318
3,2016,1,654,24953,-4842,210053,64422,14063,8700.0,16470.0,-11432,554860,38284
4,2015,4,667,24508,-4790,208564,63760,14049,8819.0,16215.0,-11198,549298,37960

In [47]:
import_pib.columns=["année","trimestre",
                  "impots sur importations ",
                 "autres impots sur les produits ",
                  "subventions",
                 "masse salariale versee",
                 "cotisations sociales employeurs versees",
                "cotisations sociales imputees",
                 "impots sur la main d'oeuvre verses",
                "autres impots divers sur la production verses",
                 "Subventions d'exploitation",
                "PIB",
                "TVA"
                 ]

In [48]:
del import_pib["PIB"]

In [49]:
import_pib = import_pib[import_pib["année"]>1973]
pib = pib[pib["année"]>1973]
print(import_pib.shape)
print(pib.shape)

(172, 12)
(172, 12)

In [50]:
emploi.head()

,Ann?e,Trimestre,Emplois salari?s Industrie,Emplois salari?s Construction,Emplois salari?s tertiaire marchand,Emplois salari?s - Secteurs principalement marchands
0,2016,4,"3103,9","1305,9","11765,2","16174,9"
1,2016,3,"3109,4",1308,"11693,1","16110,5"
2,2016,2,"3114,6","1310,7","11634,8","16060,1"
3,2016,1,"3122,4",1313,"11594,5","16029,9"
4,2015,4,"3128,8","1316,7","11542,2","15987,7"

In [51]:
emploi.columns=["année","trimestre",
                 "emplois dans industrie",
                 "emplois dans construction",
              "emplois dans tertiaire marchand",
              "emplois dans principalement marchands"
                 ]

In [52]:
print(min(emploi["année"]))

1970

In [53]:
emploi = emploi[emploi["année"]>1973]

In [54]:
emploi.shape

(172, 6)

In [55]:
pib_impot_emploi = pd.merge(pib, import_pib, on = ["année","trimestre"])
pib_impot_emploi = pd.merge(pib_impot_emploi, emploi, on = ["année","trimestre"])

In [56]:
pib_impot_emploi.shape

(172, 26)

In [58]:
pib_impot_emploi.columns

Index(['année', 'trimestre', 'contribution pib-depense consommation',
       'contribution pib-exportation', 'contribution pib-importation',
       'contribution pib-solde exterieur', 'evolution PIB',
       'demande interieur', 'exportations', 'importations', 'PIB',
       'depense consommation administration public',
       'impots sur importations ', 'autres impots sur les produits ',
       'subventions', 'masse salariale versee',
       'cotisations sociales employeurs versees',
       'cotisations sociales imputees', 'impots sur la main d'oeuvre verses',
       'autres impots divers sur la production verses',
       'Subventions d'exploitation', 'TVA', 'emplois dans industrie',
       'emplois dans construction', 'emplois dans tertiaire marchand',
       'emplois dans principalement marchands'],
      dtype='object')

In [71]:
travaux = pd.read_csv("conjoncture_travaux.csv",sep=",")

In [72]:
travaux.head()

,Ann?e,Trimestre,Enqu?te de conjoncture dans les travaux publics - Opinions sur le carnet de commandes - S?rie CVS,Enqu?te de conjoncture dans les travaux publics - Opinions sur le carnet de commandes,client?le priv?e - S?rie CVS,Enqu?te de conjoncture dans les travaux publics - Opinions sur le carnet de commandes.1,client?le publique - S?rie CVS
0,2017,1,-25,-20,-32,NaN,NaN
1,2016,4,-32,-17,-40,NaN,NaN
2,2016,3,-41,-27,-51,NaN,NaN
3,2016,2,-57,-47,-65,NaN,NaN
4,2016,1,-57,-38,-65,NaN,NaN

In [73]:
print(min(travaux["Ann?e"]))

1974

In [74]:
travaux.shape

(173, 7)

In [75]:
travaux.columns

Index(['Ann?e', 'Trimestre',
       'Enqu?te de conjoncture dans les travaux publics - Opinions sur le carnet de commandes - S?rie CVS',
       'Enqu?te de conjoncture dans les travaux publics - Opinions sur le carnet de commandes',
       ' client?le priv?e - S?rie CVS',
       'Enqu?te de conjoncture dans les travaux publics - Opinions sur le carnet de commandes.1',
       ' client?le publique - S?rie CVS'],
      dtype='object')

In [76]:
del travaux["Enqu?te de conjoncture dans les travaux publics - Opinions sur le carnet de commandes.1"]
del travaux[" client?le publique - S?rie CVS"]

In [77]:
travaux.head()

,Ann?e,Trimestre,Enqu?te de conjoncture dans les travaux publics - Opinions sur le carnet de commandes - S?rie CVS,Enqu?te de conjoncture dans les travaux publics - Opinions sur le carnet de commandes,client?le priv?e - S?rie CVS
0,2017,1,-25,-20,-32
1,2016,4,-32,-17,-40
2,2016,3,-41,-27,-51
3,2016,2,-57,-47,-65
4,2016,1,-57,-38,-65

In [78]:
travaux.columns=["année","trimestre",
                 "conjoncture travaux publics-opinions sur le carnet de commandes",
                 "del",
                 "conjoncture travaux publics-opinions sur client prive"
                 ]

In [79]:
del travaux["del"]

In [80]:
pib_impot_emploi_travaux = pd.merge(pib_impot_emploi, travaux, on = ["année","trimestre"])

In [81]:
pib_impot_emploi_travaux.shape

(172, 28)

## Table par année

In [83]:
depense_conso_menage = pd.read_csv("depense_conso_menage.csv",sep=",")

In [84]:
depense_conso_menage.head()

,Ann?e,Comptes nationaux annuels base 2010 - D?pense de consommation finale - M?nages hors entrepreneurs individuels - Total des produits - Prix courant
0,2015,1155987
1,2014,1140872
2,2013,1132231
3,2012,1119646
4,2011,1106881

In [85]:
depense_conso_menage.columns=["année","depense national des menages"]

In [86]:
depense_conso_menage.head()

   année  depense national des menages
0   2015                       1155987
1   2014                       1140872
2   2013                       1132231
3   2012                       1119646
4   2011                       1106881

In [87]:
depense_conso_menage.to_csv("le rendu/depense_conso_menage.csv")

In [88]:
print(min(depense_conso_menage["année"]))

1949

In [91]:
depense_conso_menage.shape

(42, 2)

In [90]:
depense_conso_menage= depense_conso_menage[depense_conso_menage["année"]>1973]
depense_conso_menage.to_csv("le rendu/depense_conso_menage.csv",index=False)

In [92]:
opinion_menage.to_csv("le rendu/opinion_menage.csv",index=False)
pib_impot_emploi_travaux.to_csv("le rendu/pib_impot_emploi_travaux.csv",index=False)

## Nouvelle tables année

In [40]:
conso_menage = pd.read_csv("conso_menage.csv",sep=",")
defail_entreprise = pd.read_csv("defaillance_entreprise.csv",sep=";")
logement = pd.read_csv("parc_logement.csv",sep=",")

In [41]:
conso_menage.head()

,Ann?e,Comptes nationaux annuels base 2010 - Consommation finale effective - M?nages hors entrepreneurs individuels - Logement,eau,gaz,?lectricit? et autres combustibles - Prix courant,Comptes nationaux annuels base 2010 - Consommation finale effective - M?nages hors entrepreneurs individuels - Sant? - Prix courant,Comptes nationaux annuels base 2010 - Consommation finale effective - M?nages hors entrepreneurs individuels - Transports - Prix courant,Comptes nationaux annuels base 2010 - Consommation finale effective - M?nages hors entrepreneurs individuels - Loisirs et culture - Prix courant,Comptes nationaux annuels base 2010 - Consommation finale effective - M?nages hors entrepreneurs individuels - ?ducation - Prix courant
0,2015,306894,49011,152109,97125,10793,NaN,NaN,NaN
1,2014,301374,48301,150854,95994,10526,NaN,NaN,NaN
2,2013,301697,47838,149893,95278,10417,NaN,NaN,NaN
3,2012,293625,47339,152352,97042,9911,NaN,NaN,NaN
4,2011,281230,46396,154090,98002,9535,NaN,NaN,NaN

In [42]:
del conso_menage["Comptes nationaux annuels base 2010 - Consommation finale effective - M?nages hors entrepreneurs individuels - Transports - Prix courant"]
del conso_menage["Comptes nationaux annuels base 2010 - Consommation finale effective - M?nages hors entrepreneurs individuels - Loisirs et culture - Prix courant"]
del conso_menage["Comptes nationaux annuels base 2010 - Consommation finale effective - M?nages hors entrepreneurs individuels - ?ducation - Prix courant"]

In [43]:
conso_menage.columns=["année",
                 "consommation menages - logement",
                 "consommation menages - eau",
                 "consommation menages - gaz",
                "consommation menages - electricite",
                "consommation menages - sante"   
                 ]

In [44]:
conso_menage["année"] = conso_menage["année"].apply(lambda x : x+1)
conso_menage = conso_menage[conso_menage["année"]>1973]

In [45]:
conso_menage.head()

,année,consommation menages - logement,consommation menages - eau,consommation menages - gaz,consommation menages - electricite,consommation menages - sante
0,2016,306894,49011,152109,97125,10793
1,2015,301374,48301,150854,95994,10526
2,2014,301697,47838,149893,95278,10417
3,2013,293625,47339,152352,97042,9911
4,2012,281230,46396,154090,98002,9535

In [46]:
defail_entreprise.head()

   Ann?e Annual number of business failures - France
0   2016                                      58,057
1   2015                                      63,159
2   2014                                       62,43
3   2013                                      62,532
4   2012                                      61,095

In [47]:
defail_entreprise.columns=["année",
                "nb defaillance entreprises"  
                 ]

In [48]:
logement.head()

,Ann?e,Estimation annuelle du parc de logements - Nombre total de logements - France m?tropolitaine,Estimation annuelle du parc de logements - Nombre de r?sidences principales - Ensemble - France m?tropolitaine,Estimation annuelle du parc de logements - Nombre de r?sidences secondaires et logements occasionnels - France m?tropolitaine,Estimation annuelle du parc de logements - Nombre de logements vacants - France m?tropolitaine
0,2016,34537,28430,3281,2825
1,2015,34225,28231,3255,2740
2,2014,33917,28032,3228,2656
3,2013,33575,27805,3199,2570
4,2012,33212,27567,3163,2482

In [49]:
logement.columns=["année",
                "nombre total de logement",
                "nombre de residence principale",
                "nombre residence secondaire",
                "nombre de logement vacant"
                 ]

In [50]:
print(min(logement["année"]))
print(min(defail_entreprise["année"]))
print(min(conso_menage["année"]))

1982
1974
1974

In [52]:
print(logement["année"].shape)
print(defail_entreprise.shape)
print(conso_menage.shape)

(35,)
(43, 2)
(43, 6)

In [53]:
entreprise_menage = pd.merge(defail_entreprise, conso_menage, on =["année"])

In [54]:
entreprise_menage.shape

(43, 7)

In [55]:
entreprise_menage_logement = pd.merge(entreprise_menage, logement, how="left", on="année")

In [57]:
entreprise_menage_logement.shape

(43, 11)

In [59]:
entreprise_menage_logement.to_csv("le rendu/entrerise_menage_logement.csv",index=False)

## Last legislative
86 -> 88