In [2]:
import pandas as pd

df = pd.read_excel("comparaison_prediction_reel.xlsx", skiprows=2)
df.head()

,Dpt,N_circo,Code,Unnamed: 3,Unnamed: 4,Désignation,Nuance,Score,Sortant,Perso.,...,Accès T2 ?,Elu ?,circo_leg_meme_nuance,circo_pres_meme_nuance,score_bloc_pres,depute_sortant,ancien_depute,au_gouvernement,ancien_ministre,membre_majorite
0,971,1,971|1,SERVA,Olivier,M. SERVA Olivier,REM,0.6174,NaN,NaN,...,O,O,0.0,1.0,0.179,0.0,0.0,0.0,0.0,1.0
1,971,2,971|2,BENIN,Justine,Mme BENIN Justine,DVG,0.6426,NaN,NaN,...,N,N,1.0,0.0,0.049,0.0,0.0,0.0,0.0,0.0
2,971,3,971|3,MATHIASIN,Max,M. MATHIASIN Max,DVG,0.6515,NaN,NaN,...,O,O,1.0,0.0,0.059,0.0,0.0,0.0,0.0,0.0
3,971,4,971|4,VAINQUEUR-CHRISTOPHE,Hélène,Mme VAINQUEUR-CHRISTOPHE Hélène,SOC,0.6161,NaN,NaN,...,O,O,1.0,0.0,0.070,0.0,0.0,0.0,0.0,0.0
4,972,1,972|1,MANIN,Josette,Mme MANIN Josette,DVG,0.5489,NaN,NaN,...,N,N,0.0,0.0,0.054,0.0,0.0,0.0,0.0,0.0

In [4]:
df.columns

Index(['Dpt', 'N_circo', 'Code', 'Unnamed: 3', 'Unnamed: 4', 'Désignation',
       'Nuance', 'Score', 'Sortant', 'Perso.', 'Né(e)_le', 'Profession',
       'Tour', '% Tour 1', 'Accès T2 ?', 'Elu ?', 'circo_leg_meme_nuance',
       'circo_pres_meme_nuance', 'score_bloc_pres', 'depute_sortant',
       'ancien_depute', 'au_gouvernement', 'ancien_ministre',
       'membre_majorite'],
      dtype='object')

In [9]:
df = df[["Code", "Désignation", "Nuance", "Score"]]

In [10]:
df["Code"] = df["Code"].map(lambda x : x.replace("|", "-"))

C:\Users\Mohamed\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [11]:
df

      Code                      Désignation Nuance   Score
0    971-1                 M. SERVA Olivier    REM  0.6174
1    971-2                Mme BENIN Justine    DVG  0.6426
2    971-3                 M. MATHIASIN Max    DVG  0.6515
3    971-4  Mme VAINQUEUR-CHRISTOPHE Hélène    SOC  0.6161
4    972-1                Mme MANIN Josette    DVG  0.5489
5    972-2           M. AZEROT Bruno Nestor    DVG  0.5578
6    972-3                M. LETCHIMY Serge    DVG  0.7394
7    972-4           M. NILOR Jean-Philippe    REG  0.6802
8    973-1              M. SERVILLE Gabriel    DVG  0.5133
9    973-2                  M. ADAM Lénaïck    REM  0.5021
10   974-1              Mme BAREIGTS Ericka    SOC  0.6586
11   974-2               Mme BELLO Huguette    DVG  0.7359
12   974-3             Mme BASSIRE Nathalie     LR  0.5644
13   974-4                  M. LORION David     LR  0.5439
14   974-5           M. RATENON Jean Hugues    DVG  0.5288
15   974-6              Mme RAMASSAMY Nadia     LR  0.5261
16   974-7                M. ROBERT Thierry    MDM  0.6078
17   985-1                  Mme ALI Ramlati    SOC  0.5017
18   985-2             M. KAMARDINE Mansour     LR  0.6461
19   988-1              M. DUNOYER Philippe    DVD  0.5915
20   988-2                M. GOMES Philippe    UDI  0.5495
21   987-1                   Mme SAGE Maina    UDI  0.6836
22   987-2               Mme SANQUER Nicole    DVD  0.6418
23   987-3    M. BROTHERSON Moetai, Charles    REG  0.5250
24   975-1              Mme GIRARDIN Annick    RDG  0.5187
25   986-1               M. POLUTELE Napole    DVG  0.5024
26   979-1                Mme JAVOIS Claire     LR  0.5473
27    99-1                M. LESCURE Roland    REM  0.7973
28    99-2                Mme FORTEZA Paula    REM  0.6092
29    99-3             M. HOLROYD Alexandre    REM  0.7011
..     ...                              ...    ...     ...
547   93-4          Mme BUFFET Marie-George    COM  0.5962
548   93-5       M. LAGARDE Jean-Christophe    UDI  0.6610
549   93-6               M. LACHAUD Bastien     FI  0.5501
550   93-7               M. CORBIÈRE Alexis     FI  0.5790
551   93-8             Mme CHARRIÈRE Sylvie    REM  0.5646
552   93-9                 Mme RUBIN Sabine     FI  0.5226
553  93-10                M. RAMADIER Alain     LR  0.5292
554  93-11            Mme AUTAIN Clémentine     FI  0.5952
555  93-12                M. TESTE Stéphane    REM  0.5300
556   94-1         M. DESCROZAILLE Frédéric    REM  0.5247
557   94-2           M. MBAYE Jean François    REM  0.5258
558   94-3          M. SAINT-MARTIN Laurent    REM  0.5164
559   94-4                   Mme PETIT Maud    MDM  0.5355
560   94-5                 M. CARREZ Gilles     LR  0.5049
561   94-6        M. GOUFFIER-CHA Guillaume    REM  0.5922
562   94-7           M. BRIDEY Jean-Jacques    REM  0.5270
563   94-8              M. HERBILLON Michel     LR  0.5799
564   94-9                 M. CARVOUNAS Luc    SOC  0.5874
565  94-10               Mme PANOT Mathilde     FI  0.5222
566  94-11               Mme GAILLOT Albane    REM  0.5361
567   95-1         Mme MULLER-QUOY Isabelle    REM  0.5423
568   95-2           M. VUILLETET Guillaume    REM  0.5096
569   95-3                Mme RILHAC Cecile    REM  0.5833
570   95-4               Mme MOUTCHOU Naïma    REM  0.5937
571   95-5                 Mme LAZAAR Fiona    REM  0.5972
572   95-6              Mme ELIMAS Nathalie    MDM  0.5711
573   95-7            M. DA SILVA Dominique    REM  0.5388
574   95-8              M. PUPPONI François    SOC  0.6580
575   95-9                   Mme PARK Zivka    REM  0.5167
576  95-10                M. TACHE Aurelien    REM  0.5901

[577 rows x 4 columns]

In [14]:
df.to_csv("resultatT2_reel.csv", index=False)

In [16]:
df[df.Nuance=="REG"]

      Code                    Désignation Nuance   Score
7    972-4         M. NILOR Jean-Philippe    REG  0.6802
23   987-3  M. BROTHERSON Moetai, Charles    REG  0.5250
119   2A-2        M. COLOMBANI Paul-André    REG  0.5522
120   2B-1           M. CASTELLANI Michel    REG  0.6081
121   2B-2        M. ACQUAVIVA Jean-Félix    REG  0.6316